<section class="carousel-section">
  <span id="prevBtn-{{ section.id }}" class="arrow left">
    {{ 'icon-chevron-right.svg' | inline_asset_content }}
  </span>
  {% comment %} <button class="arrow left" id="prevBtn-{{ section.id }}">&#10094;</button> {% endcomment %}

  <div class="carousel-container" id="carousel-{{ section.id }}">
    <!-- Repeat this card block 8 times with different content/images -->
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image_carousel' -%}
            <div class="card">
              {%- if block.settings.image_carousel_image != blank -%}
                {{- block.settings.image_carousel_image | image_url: width: 700 | image_tag -}}
              {%- else -%}
                {{ 'product-1' | placeholder_svg_tag }}
              {%- endif -%}
              <div class="card-content">
                <h3 style="color: {{ block.settings.image_carousel_heading_color }}">
                  {%- if block.settings.image_carousel_heading != blank -%}
                    {{ block.settings.image_carousel_heading }}
                  {%- else -%}
                    Get exclusive products
                  {%- endif -%}
                </h3>
                <p style="color: {{ block.settings.image_carousel_body_color }}">
                  {%- if block.settings.image_carousel_body != blank -%}
                    {{ block.settings.image_carousel_body }}
                  {%- else -%}
                    50% OFF on every items in the store and free shipping to your address
                  {%- endif -%}
                </p>
                {% render 'button',
                  href: block.settings.image_carousel_button_url,
                  title: block.settings.image_carousel_button_text,
                  class_modifier: 'card-content-button',
                  color: block.settings.image_carousel_text_color,
                  background_color: block.settings.image_carousel_bg_color
                %}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    {%- else -%}
      {%- for item in (1..8) -%}
        {%- assign product = 'product' | append: '-' | append: forloop.index -%}
        <div class="card">
          {{ product | placeholder_svg_tag }}
          <div class="card-content">
            <h3>Exkluzivní péče o játra s NATIOS Liver Complex💥</h3>
            <p>Standardizované extrakty pro komplexní podporu jater.</p>
            <button>Zobrazit</button>
          </div>
        </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
  <span id="nextBtn-{{ section.id }}" class="arrow right">
    {{ 'icon-chevron-right.svg' | inline_asset_content }}
  </span>
  {% comment %} <button class="arrow right" id="nextBtn-{{ section.id }}">&#10095;</button> {% endcomment %}
</section>

<style>
  .carousel-section {
    padding-top: {{- section.settings.image_carousel_paddingY -}}px;
    padding-bottom: {{- section.settings.image_carousel_paddingY -}}px;
    position: relative;
    overflow: hidden;
  }

  .carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
    padding: 10px 40px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .carousel-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }


  .card {
    flex: 0 0 80%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .card img {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-content {
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .card-content h3 {
    font-size: 16px;
    font-family: {{ settings.type_header_font.family }};
    text-transform: {{ section.settings.image_carousel_heading_transform }};
    margin-bottom: 8px;
  }
  .card-content p {
    font-size: 14px;
    margin-bottom: 12px;
    font-family: {{ settings.type_body_font.family }};
    color: {{ section.settings.image_carousel_body_color }};
  }
  .card-content .card-content-button {
    font-size: 15px;
    font-weight: 600;

  }


  /* Navigation arrows */
   .arrow {
    position: absolute;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;{% comment %}{% endcomment %}
  }

  .arrow.left {
    left: 5px;
    transform: rotate(180deg);
  }

  .arrow.right {
    right: 5px;
  }




  /* Responsive breakpoints */
  @media (min-width: 640px) {
    .card {
      flex: 0 0 48%;
    }
  }

  @media (min-width: 750px) {
    .card-content h3 {
      font-size: 18px;
    }

    .card-content p {
    font-size: 16px;

    }
  }
  @media (min-width: 900px) {
    .card {
      flex: 0 0 23%;
    }
     .card-content h3 {
      font-size: 20px;
    }
  }
</style>
<script>
  const sectionId = `{{ section.id }}`;
  const carousel = document.getElementById(`carousel-${sectionId}`);
  const prevBtn = document.getElementById(`prevBtn-${sectionId}`);
  const nextBtn = document.getElementById(`nextBtn-${sectionId}`);

  console.log(carousel);
  console.log(1);

  prevBtn.addEventListener('click', () => {
    carousel.scrollBy({ left: -carousel.offsetWidth, behavior: 'smooth' });
  });

  nextBtn.addEventListener('click', () => {
    carousel.scrollBy({ left: carousel.offsetWidth, behavior: 'smooth' });
  });
</script>

{% schema %}
{
  "name": "Image carousel",
  "class": "image_carousel",
  "settings": [
    {
      "type": "range",
      "id": "image_carousel_paddingY",
      "label": "Padding top to bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 36
    }
  ],
  "blocks": [
    {
      "name": "Image carousel",
      "type": "image_carousel",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image_carousel_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Heading, body and button text"
        },
        {
          "type": "text",
          "id": "image_carousel_heading",
          "label": "Title",
          "default": "Heading title",
          "info": "This is the heading title",
          "placeholder": "Heading title"
        },
        {
          "type": "textarea",
          "id": "image_carousel_body",
          "label": "Description",
          "default": "Body description",
          "info": "Body description",
          "placeholder": "Body description"
        },
        {
          "type": "text",
          "id": "image_carousel_button_text",
          "label": "Button text",
          "default": "show more",
          "info": "Button text",
          "placeholder": "Buy now"
        },
        {
          "type": "url",
          "id": "image_carousel_button_url",
          "label": "Button URL",
          "info": "Button url"
        },
        {
          "type": "header",
          "content": "Heading, body and button color"
        },
        {
          "type": "color",
          "id": "image_carousel_heading_color",
          "label": "Heading color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "image_carousel_heading_transform",
          "label": "Heading text transform",
          "options": [
            {
              "label": "None",
              "value": "none"
            },
            {
              "label": "Uppercase",
              "value": "uppercase"
            },
            {
              "label": "Lowercase",
              "value": "lowercase"
            },
            {
              "label": "Capitalize",
              "value": "capitalize"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "image_carousel_body_color",
          "label": "Body color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "image_carousel_bg_color",
          "label": "Background button_color",
          "default": "#5C1A1B"
        },
        {
          "type": "color",
          "id": "image_carousel_text_color",
          "label": "Text button_color",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image carousel",
      "settings": {
        "image_carousel_paddingY": 36
      },
      "blocks": []
    }
  ]
}
{% endschema %}
