<div id="NewsletterID" class="newsletter">
  <div class="newsletter-content">
    <div class="newsletter-wrapper">
      {%- if section.blocks.size > 0 -%}
        <div>
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'newsletter' -%}
                <h3>
                  {%- if block.settings.newsletter_title != blank -%}
                    {{ block.settings.newsletter_title }}
                  {%- else -%}
                    Give your information here<br>
                    Leave us your email
                  {%- endif -%}
                </h3>
                <p>
                  {%- if block.settings.newsletter_description -%}
                    {{ block.settings.newsletter_description }}
                  {%- else -%}
                    Stay informedswsfdfdfdfdf
                  {%- endif -%}
                </p>
            {%- endcase -%}
          {% endfor %}
        </div>
      {%- else -%}
        <div>
          <h3>
            Give your information here<br>
            Leave us your email
          </h3>
          <p>Stay informed</p>
        </div>
      {%- endif -%}

      <form class="newsletter-form" id="newsletter-form">
        <div class="input-group">
          <label class="input-group__label">
            <span>Name</span>
            <input type="text" placeholder="Ex: Adrian" name="name" required>
          </label>
          <label class="input-group__label">
            <span>Phone number</span>
            <input type="text" placeholder="+33 6 12 34 56 78" name="phone_number" required>
          </label>
        </div>
        <div class="input-group">
          <label class="input-group__label">
            <span>Email</span>
            <input type="email" placeholder="adrian@example.com" name="email" required>
          </label>
          <label class="input-group__label">
            <span>Product</span>
            <input type="text" name="product" value="{{ product.title }}" required>
          </label>
        </div>
        <button type="submit">Appelez moi discretement</button>
        <small>
          En soumettant ce formulaire, vous acceptez nos <a href="#">conditions générales</a> et notre
          <a href="#">politique de confidentialité</a>.
        </small>
      </form>
    </div>
  </div>
</div>

<style>
   .newsletter {
    background-color: {{ section.settings.newsletter_bg_color}};
    padding: 40px 20px;

  }

  .newsletter-content {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;

  }
   .newsletter-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }

  .newsletter h3 {
    margin: 0;
    font-size: 28px;
    font-family: {{ settings.type_header_font.family }};
    font-weight: {{ settings.type_header_font.weight }};
    color: {{  section.settings.newsletter_heading_color }};
    text-align: center;
  }

  .newsletter p {
    font-size: 15px;
    color: {{  section.settings.newsletter_description_color }};
    font-family: {{ settings.type_body_font.family }};
    font-weight: {{ settings.type_body_font.weight }};
     text-align: center;
  }

  .newsletter-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  .newsletter-form .input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .input-group__label{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .newsletter-form input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    min-width: 250px;
  }

  .newsletter-form button {
    padding: 16px 20px;
    background: {{ section.settings.newsletter_button_bg_color }};
    color: {{ section.settings.newsletter_button_color }};
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }

  .newsletter-form small {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin: 0px auto;
  }

  .newsletter-form small a {

    text-decoration: underline;
    color: red;

  }
  @media screen and (min-width: 750px){
    .newsletter-wrapper{
      max-width: 600px;
      margin: 0px auto;
      flex-wrap: nowrap;
    }
     .newsletter h3 {
      font-size: 32px;
      width: 470px;
      margin: 0 auto;
      text-align: center;
    }
    .newsletter p {
      width: 470px;
      margin: 0 auto;
      text-align: center;

    }
    .newsletter-form .input-group{
      flex-direction: row;

    }
    .input-group__label{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
</style>

<script>
  const newsletterForm = document.getElementById('newsletter-form');
  newsletterForm.addEventListener('submit', async function (e) {
    e.preventDefault();

    const formData = {
      name: this.name.value,
      phone_number: this.phone_number.value,
      email: this.email.value,
      product: this.product.value,
    };

    try {
      const response = await fetch('https://lightgray-dugong-905323.hostingersite.com/submit-lead.php', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(formData),
      });

      if (response.ok) {
        alert('Submitted successfully!');
      } else {
        alert('Failed to submit. Please try again.');
      }
    } catch (error) {
      console.error('Error submitting form:', error);
      alert('An error occurred while submitting the form. Please try again.');
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "newsletter_bg_color",
      "label": "Background color",
      "default": "#f6ebd8"
    },
    {
      "type": "color",
      "id": "newsletter_heading_color",
      "label": "Heading color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "newsletter_description_color",
      "label": "Body description color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "newsletter_button_bg_color",
      "label": "Button background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "newsletter_button_color",
      "label": "Button text color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "name": "Newsletter",
      "type": "newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title",
          "label": "newsletter Heading",
          "default": "Envie d’en savoir plus ou de passer à l’action ?"
        },
        {
          "type": "textarea",
          "id": "newsletter_description",
          "label": "Newsletter Description",
          "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "settings": {
        "newsletter_bg_color": "#f6ebd8",
        "newsletter_heading_color": "#000000",
        "newsletter_description_color": "#000000",
        "newsletter_button_bg_color": "#000000",
        "newsletter_button_color": "#ffffff"
      },
      "blocks": [
        {
          "name": "Newsletter",
          "type": "newsletter",
          "settings": {
            "newsletter_title": "Envie d’en savoir plus ou de passer à l’action ?",
            "newsletter_description": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"
          }
        }
      ]
    }
  ]
}
{% endschema %}
