<section class="product-carousel-{{ section.id }}">
  <div class="product-carousel__container">
    <div class="product-carousel__wrapper-{{ section.id }}">
      <!-- collection Image -->
      <div class="product-carousel__collection-{{ section.id }}">
        <div class="product-carousel__collection-image-{{ section.id }}">
          {%- if section.settings.product_carousel_image != blank -%}
            {{-
              section.settings.product_carousel_image
              | image_url: width: 700
              | image_tag: class: 'product-carousel__collection-img'
            -}}
          {%- else -%}
            {{- 'collection-4' | placeholder_svg_tag: 'product-carousel__collection-img' -}}
          {%- endif -%}
        </div>
        <div class="product-carousel__collection-info">
          <span class="product-carousel__collection-subtitle">
            {%- if section.settings.product_carousel_subtitle != blank -%}
              {{ section.settings.product_carousel_subtitle }}
            {%- else -%}
              About us
            {%- endif -%}
          </span>
          <h2 class="product-carousel__collection-title">
            {%- if section.settings.product_carousel_title != blank -%}
              {{ section.settings.product_carousel_title }}
            {%- else -%}
              Take care of your nails pains them color awesome
            {%- endif -%}
          </h2>
          <p class="product-carousel__collection-description">
            {%- if section.settings.product_carousel_description != blank -%}
              {{ section.settings.product_carousel_description }}
            {%- else -%}
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            {%- endif -%}
          </p>
        </div>
      </div>
      <!-- Products -->
      <div class="product-carousel__products">
        {%- if section.settings.product_carousel_products != blank -%}
          {%- for item-product in section.settings.product_carousel_products -%}
            <a href="{{ item-product.url }}" class="product-carousel__product">
              <div class="product-carousel__product-image-block-{{ section.id }}">
                {%- if item-product.featured_image -%}
                  {{-
                    item-product.featured_image
                    | image_url: width: 400
                    | image_tag: class: 'product-carousel__product-image'
                  -}}
                {%- else -%}
                  {{- 'product-1' | placeholder_svg_tag: 'product-carousel__product-image' -}}
                {%- endif -%}
              </div>
              <div class="product-carousel__product-info">
                <h4 class="product-carousel__product-title">
                  {%- if item-product.title != blank -%}
                    {{ item-product.title }}
                  {%- else -%}
                    Crystal Clear Cleansing Foam
                  {%- endif -%}
                </h4>
                <div class="product-carousel__product-price-block">
                  <span class="product-carousel__product-price-compare">
                    {%- if item-product.price != blank -%}
                      {{ item-product.price | money }}
                    {%- else -%}
                      $25.00
                    {%- endif -%}
                  </span>
                  <span class="product-carousel__product-price">
                    {%- if item-product.price != blank -%}
                      {{ item-product.price | money }}
                    {%- else -%}
                      $25.00
                    {%- endif -%}
                  </span>
                </div>
              </div>
            </a>
          {%- endfor -%}
        {%- else -%}
          {%- for item in (1..4) -%}
            <!-- loop here -->
            <a href="#" class="product-carousel__product">
              <div class="product-carousel__product-image-block">
                {{- 'product-1' | placeholder_svg_tag: 'product-carousel__product-image' -}}
              </div>
              <div class="product-carousel__product-info">
                <span class="product-carousel__product-description">Pure Radiance Skincare</span>
                <h4 class="product-carousel__product-title">Crystal Clear Cleansing Foam</h4>
                <span class="product-carousel__product-price">$25.00</span>
              </div>
            </a>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</section>

<style>
    .product-carousel-{{ section.id }} {
      padding-top: {{- section.settings.product_carousel_paddingY -}} px;
      padding-bottom: {{- section.settings.product_carousel_paddingY -}} px;
      width: 100%;
      height: fit-content;
    }
    .product-carousel__container{
      max-width: {{ settings.page_width }}px;
      width: 100%;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
    .product-carousel__wrapper-{{ section.id }}{
      width: 100%;
      display: flex;
      flex-direction: {% if section.settings.product_carousel_enable == true %} column-reverse {% else %} column {% endif %};
      align-items: start;
      justify-content: center;
      gap: 50px;
    }
    /* collection Image */
    .product-carousel__collection-{{ section.id }}{
      width: 100%;
      height: auto;
      min-width: 200px;
    }
    .product-carousel__collection-image-{{ section.id }}{
      min-width: 200px;
      width: 100%;
      min-height: 300px;
      height: 100%;
      max-height: 500px;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border: {%- if section.settings.product_carousel_enable_border == true -%} 1px solid rgba(46, 46, 46, 0.57) {%- else -%} none {%- endif -%};
    }
    .product-carousel__collection-img{
      width: 100%;
      height: 100%;
      object-fit: cover;

    }
    .product-carousel__collection-info{
      min-width: 200px;
      height: auto;
      padding: 10px;
    }
    .product-carousel__collection-subtitle{
      font-size: 14px;
      font-family: {{ settings.type_body_font.family }};
      font-weight: {{ settings.type_body_font.weight }};
      color: {{ settings.type_body_font.color }};
    }
    .product-carousel__collection-title{
      font-size: 20px !important;
      font-family: {{ settings.type_header_font.family }};
      font-weight: {{ settings.type_header_font.weight }};
      color: {{ settings.type_header_font.color }};
    }
    .product-carousel__collection-description{
      font-size: 16px;
      font-family: {{ settings.type_body_font.family }};
      font-weight: {{ settings.type_body_font.weight }};

    }
    .product-carousel__collection-button-{{ section.id }}{
      background-color: {{-section.settings.product_carousel_button_bg_color-}};
      color: {{-section.settings.product_carousel_button_text_color-}};
    }
    /* Product carousel */
    .product-carousel__products{
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: {%- for item in section.settings.product_carousel_products -%}{%- if forloop.index == 1 or forloop.index == 2 -%}1fr{%- else -%}1fr 1fr{%- endif -%}{%- endfor -%} ;
      grid-gap: 10px 10px;
      justify-items: center;
      align-items: center;
      width: 100%;
    }
    .product-carousel__product{
      width: 100%;
      height: 330px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-decoration: none;
    }
    .product-carousel__product-image-block-{{ section.id }}{
      width: 100%;
      min-height: 180px;

      border: {%- if section.settings.product_carousel_list_enable == true -%} 1px solid {{ section.settings.product_carousel_list_color }} {%- else -%} none {%- endif -%};
      border-radius: 10px;
      overflow: hidden;
    }
    .product-carousel__product-image{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .product-carousel__product-info{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      width: 100%;
      gap: 5px;
      max-height: 200px;
      padding-left: 10px;
    }
    .product-carousel__product-description{
      font-size: 12px;
      font-family: {{ settings.type_body_font.family }};
      font-weight: {{ settings.type_body_font.weight }};
      color: black;
    }
    .product-carousel__product-title{
      font-size: 16px !important;
      font-family: {{ settings.type_header_font.family }};
      font-weight: {{ settings.type_header_font.weight }};
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      color: black;
      padding: 10px 0px;
    }
    .product-carousel__product-price-compare{
      font-size: 14px;
      font-family: {{ settings.type_body_font.family }};
      font-weight: {{ settings.type_body_font.weight }};
      color: black;
      text-decoration: line-through;
    }
    .product-carousel__product-price{
      font-size: 14px;
      font-family: {{ settings.type_body_font.family }};
      font-weight: {{ settings.type_body_font.weight }};
      color: black;
    }
  @media screen and (min-width: 750px) {
    .product-carousel__collection-image-{{ section.id }}{
      max-height: 600px;
    }
     /* Product carousel */

    .product-carousel__products{
      gap: 20px 20px;
    }
    .product-carousel__product{
      min-height: 530px;
    }
    .product-carousel__product-image-block-{{ section.id }}{
      height: 400px;
    }
    .product-carousel__product-description{
      font-size: 14px;
    }
    .product-carousel__product-title{
      font-size: 18px !important;
    }
    .product-carousel__product-price{
      font-size: 15px;
    }
  }


  {% comment %} @media screen and (min-width: 990px) {

  } {% endcomment %}
  @media screen and (min-width: 1200px) {
    {% comment %} .product-carousel__container{
      padding: 0;
      margin: 0 auto;
    } {% endcomment %}
    .product-carousel__wrapper-{{ section.id }}{
      flex-direction: {% if section.settings.product_carousel_enable == true %} row-reverse {% else %} row {% endif %};
      justify-content: space-between;
      gap: 20px;
    }
    /* collection Image */
    .product-carousel__collection-{{ section.id }}{
      width: 50%;
      min-width: 600px;
    }
    .product-carousel__collection-image-{{ section.id }}{
      width: 100%;
      height: auto;
      border-radius: 10px;
      max-height: 750px;
    }

    /* Product carousel */
    .product-carousel__products{
      grid-gap: 20px 20px;
      justify-items: center;
      align-items: center;
      width: 50%;
      min-width: 500px;
    }
  }
</style>

{% schema %}
{
  "name": "Product carousel",
  "class": "product_carousel",
  "enabled_on": {
    "templates": ["*"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_carousel_enable",
      "label": "Reverse row order",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_carousel_enable_border",
      "label": "Enable border on the image",
      "default": true
    },
    {
      "type": "range",
      "id": "product_carousel_paddingY",
      "label": "Padding top and bottom",
      "min": 0,
      "max": 80,
      "step": 1,
      "default": 0,
      "info": "Padding top and bottom of the carousel"
    },
    {
      "type": "header",
      "content": "Image and text"
    },
    {
      "type": "image_picker",
      "id": "product_carousel_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "product_carousel_subtitle",
      "label": "SubTitle",
      "default": "About us"
    },
    {
      "type": "text",
      "id": "product_carousel_title",
      "label": "Title",
      "default": "Take care of your nails pains them color awesome"
    },
    {
      "type": "text",
      "id": "product_carousel_description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
    },
    {
      "type": "text",
      "id": "product_carousel_button_title",
      "label": "Button title",
      "default": "Me faire rappeler"
    },
    {
      "type": "url",
      "id": "product_carousel_button_url",
      "label": "Button url"
    },
    {
      "type": "color",
      "id": "product_carousel_button_bg_color",
      "label": "Button background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "product_carousel_button_text_color",
      "label": "Button text color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "product_list",
      "id": "product_carousel_products",
      "label": "Products",
      "limit": 4
    },
    {
      "type": "header",
      "content": "Products border color"
    },
    {
      "type": "checkbox",
      "id": "product_carousel_list_enable",
      "label": "Enable product border",
      "default": true
    },
    {
      "type": "color",
      "id": "product_carousel_list_color",
      "label": "Border color",
      "default": "#000000",
      "visible_if": "{{ section.settings.product_carousel_list_enable == true }}"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Product carousel",
      "settings": {
        "product_carousel_paddingY": 0,
        "product_carousel_enable": false,
        "product_carousel_enable_border": true
      },
      "blocks": []
    }
  ]
}
{% endschema %}
