<section class="product-description-{{ section.id }}">
  <div class="product-description__container">
    {%- if section.blocks.size > 0 -%}
      <div class="product-description__wrapper">
        {%- for block in section.blocks -%}
          <div class="product-description__header">
            {%- case block.type -%}
              {%- when 'intro' -%}
                <p class="product-description__intro-{{ section.id }}">
                  {{ block.settings.product_description_intro }}
                </p>
              {%- when 'heading' -%}
                <h2 class="product-description__title-{{ section.id }}">
                  {{ block.settings.product_description_title }}
                  <span>{{ block.settings.product_description_title_two }}</span>
                </h2>
              {%- when 'description' -%}
                <p class="product-description__desc-{{ section.id }}">
                  {{ block.settings.product_description_body_description }}
                </p>
            {%- endcase -%}
          </div>
        {%- endfor -%}

        <div class="product-description__content">
          <div class="product-description__text-list">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'product_description_left' -%}
                  <div class="product-description__item">
                    <div class="product-description__icon"></div>
                    <div class="product-description__info-{{ section.id }}">
                      <h4>
                        {{ block.settings.product_description_title_left_one }}
                      </h4>
                      <p>{{ block.settings.product_description_desc_left_one }}</p>
                    </div>
                  </div>
                  <div class="product-description__item">
                    <div class="product-description__icon"></div>
                    <div class="product-description__info-{{ section.id }}">
                      <h4>
                        {{ block.settings.product_description_title_left_two }}
                      </h4>
                      <p>{{ block.settings.product_description_desc_left_two }}</p>
                    </div>
                  </div>
                  <div class="product-description__item">
                    <div class="product-description__icon"></div>
                    <div class="product-description__info-{{ section.id }}">
                      <h4>
                        {{ block.settings.product_description_title_left_two }}
                      </h4>
                      <p>{{ block.settings.product_description_desc_left_two }}</p>
                    </div>
                  </div>
              {%- endcase -%}
            {% endfor %}
          </div>

          <div class="product-description__image-block">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'image' -%}
                  {%- if block.settings.product_description_image != blank -%}
                    {{-
                      block.settings.product_description_image
                      | image_url: width: 700
                      | image_tag: class: 'product-description__image'
                    -}}
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>

          <div class="product-description__text-list product-description__right">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'product_description_right' -%}
                  <div class="product-description__item">
                    <div class="product-description__icon"></div>
                    <div class="product-description__info-{{ section.id }}">
                      <h4>
                        {{ block.settings.product_description_title_right_one }}
                      </h4>
                      <p>{{ block.settings.product_description_desc_right_one }}</p>
                    </div>
                  </div>
                  <div class="product-description__item">
                    <div class="product-description__icon"></div>
                    <div class="product-description__info-{{ section.id }}">
                      <h4>
                        {{ block.settings.product_description_title_right_two }}
                      </h4>
                      <p>{{ block.settings.product_description_desc_right_two }}</p>
                    </div>
                  </div>
                  <div class="product-description__item">
                    <div class="product-description__icon"></div>
                    <div class="product-description__info-{{ section.id }}">
                      <h4>
                        {{ block.settings.product_description_title_right_three }}
                      </h4>
                      <p>{{ block.settings.product_description_desc_right_three }}</p>
                    </div>
                  </div>
              {%- endcase -%}
            {% endfor %}
          </div>
        </div>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'footer' -%}
              <div class="oil-feature__footer-{{section.id }}">
                <p>
                  {{ block.settings.product_description_footer_textOne }}.
                  <a href="{{ block.settings.product_description_footer_link }}">
                    {{- block.settings.product_description_footer_textTwo -}}
                  </a>
                </p>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

    {%- else -%}
      <div class="product-description__wrapper">
        <div class="product-description__header">
          <p class="product-description__intro-{{ section.id }}">Our Key Points</p>
          <h2 class="product-description__title-{{ section.id }}">
            Superior design, precision
            <span>drop lasting quality</span>
          </h2>
          <p class="product-description__desc-{{ section.id }}">
            Crafted with superior design, engineered with precision, and built to commitment to excellence ensures every
            detail is meticulously perfected, delivering unparalleled quality and durability.
          </p>
        </div>

        <div class="product-description__content">
          <div class="product-description__text-list">
            {%- if section.blocks.size > 0 %}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'product_description_left' -%}
                    <div class="product-description__item">
                      <div class="product-description__icon"></div>
                      <div class="product-description__info-{{ section.id }}">
                        <h4>
                          {{ block.settings.product_description_title_left }}
                        </h4>
                        <p>{{ block.settings.product_description_desc_left }}</p>
                      </div>
                    </div>
                {%- endcase -%}
              {% endfor %}
            {%- else -%}
              {%- for item in (1..3) -%}
                <div class="product-description__item">
                  <div class="product-description__icon"></div>
                  <div class="product-description__info-{{ section.id }}">
                    <h4>Preserves Purity</h4>
                    <p>Ensures natural essence, free and from toxins, additives</p>
                  </div>
                </div>
              {%- endfor -%}
            {%- endif -%}
          </div>

          <div class="product-description__image-block">
            {%- if section.settings.product_description_image != blank -%}
              {{-
                section.settings.product_description_image
                | image_url: width: 700
                | image_tag: class: 'product-description__image'
              -}}
            {%- else -%}
              {{ 'product-6' | placeholder_svg_tag: 'product-description__image' }}
            {%- endif -%}
          </div>

          <div class="product-description__text-list product-description__right">
            {%- if section.blocks.size > 0 %}
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'product_description_right' -%}
                    <div class="product-description__item">
                      <div class="product-description__icon"></div>
                      <div class="product-description__info-{{ section.id }}">
                        <h4>
                          {{ block.settings.product_description_title_right }}
                        </h4>
                        <p>{{ block.settings.product_description_desc_right }}</p>
                      </div>
                    </div>
                {%- endcase -%}
              {% endfor %}
            {%- else -%}
              {%- for item in (1..3) -%}
                <div class="product-description__item">
                  <div class="product-description__icon"></div>
                  <div class="product-description__info-{{ section.id }}">
                    <h4>Preserves Purity</h4>
                    <p>Ensures natural essence, free and from toxins, additives</p>
                  </div>
                </div>
              {%- endfor -%}
            {%- endif -%}
          </div>
        </div>

        <div class="oil-feature__footer-{{section.id }}">
          <p>Let's make something great work together. <a href="#">Get Free Quote</a></p>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

<style>
   .product-description-{{ section.id }} {
     width: 100%;
     height: fit-content;
     background-color: {{- section.settings.product_description_background_color -}};
   }

   .product-description__container {
     max-width: var(--page-width);
     margin: 0 auto;
     padding: 0 1.5rem;
   }
   .product-description__wrapper {
     text-align: center;
     padding-top: {{ section.settings.product_description_paddingY }}px;
     padding-bottom: {{ section.settings.product_description_paddingY }}px;
   }

   .product-description__intro-{{ section.id }} {
     font-style: italic;
     color: {{ section.settings.product_description_info_color }};
     font-weight: 500;
     font-size: 14px;
   }

   .product-description__title-{{ section.id }} {
     font-size: 24px;
     font-family: {{ settings.type_header_font.family }};
     font-weight: 700;
     color: {{ section.settings.product_description_heading_color_one }};
     margin-top: 0.5rem;
   }

   .product-description__title-{{ section.id }} span {
     display: block;
     font-style: italic;
     font-weight: 400;
     color: {{ section.settings.product_description_heading_color_two }}
     margin-top: 0.25rem;
   }

   .product-description__desc-{{ section.id }} {
     max-width: 720px;
     margin: 1rem auto 2rem;
     font-family: {{ settings.type_body_font.family }};
     font-size: 16px;
     color: {{ section.settings.product_description_color }};
   }

   .product-description__content {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     gap: 2rem;
     align-items: center;
   }

   .product-description__text-list {
     flex: 1;
     min-width: 250px;
   }

   .product-description__text-list.product-description__right {
     text-align: left;
   }

   .product-description__item {
     display: flex;
     align-items: flex-start;
     margin-bottom: 1.5rem;
     text-align: left;
   }

    .product-description__icon {
     width: 40px;
     height: 40px;
     background-color: #d9a441;
     border-radius: 50%;
   }

   .product-description__info-{{ section.id }} h4 {
    text-align: center;
     font-size: 16px;
     font-family: {{ settings.type_header_font.family }};
     font-weight: 600;
     margin: 0;
     color: {{ section.settings.product_description_heading_left_right_color }};
   }

   .product-description__info-{{ section.id }} p {
    text-align: center;
     font-size: 14px;
     font-family: {{ settings.type_body_font.family }};
     font-weight: 400;
     color: #777;
     color: {{ section.settings.product_description_body_left_right_color }};
   }

   .product-description__image-block {
     flex: 1;
     text-align: center;
     width: 200px;
   }
   .product-description__image{
     width: 100%;
     height: 100%;
     object-fit: cover;

   }

   {% comment %} .oil-feature__image {
     max-width: 100%;
     height: auto;
   } {% endcomment %}

    .oil-feature__footer-{{section.id }} {
     margin-top: 3rem;
     font-size: 16px;
   }
   .oil-feature__footer-{{section.id }} p {
     color: {{ section.settings.product_description_footer_text_color }} !important;
   }

  .oil-feature__footer-{{section.id }} p a {
     text-decoration: underline;
     color: {{ section.settings.product_description_footer_link_color }}
   }

   @media screen and (min-width: 750px) {
      .product-description__content {
        flex-direction: row;
      }
      .product-description__title-{{ section.id }} {
        font-size: 32px;
      }

      .product-description__item {
       justify-content: center;
       text-align: center;
       flex-direction: column;
      }

      .product-description__icon {
       margin: 0 auto 0.5rem;
      }
      .product-description__image-block {
       max-width: 300px;
      }
   }
   @media screen and (min-width: 990px) {
     .product-description__image-block {
       max-width: 400px;
     }
   }
   @media screen and (min-width: 1200px) {
      .product-description__title-{{ section.id }} {
        font-size: 36px;
      }
   }
</style>

{% schema %}
{
  "name": "Product description",
  "tag": "section",
  "class": "product_description",
  "settings": [
    {
      "type": "range",
      "id": "product_description_paddingY",
      "label": "Padding Y",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 36
    },
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color",
      "id": "product_description_background_color",
      "label": "Background color",
      "default": "#f9f6f2"
    },
    {
      "type": "header",
      "content": "Info color"
    },
    {
      "type": "color",
      "id": "product_description_info_color",
      "label": "Info color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Heading color"
    },
    {
      "type": "color",
      "id": "product_description_heading_color_one",
      "label": "Heading color one",
      "default": "#000000",
      "info": "This is the heading one on top"
    },
    {
      "type": "color",
      "id": "product_description_heading_color_two",
      "label": "Heading color tow",
      "default": "#000000",
      "info": "This is the heading one on bottom"
    },
    {
      "type": "header",
      "content": "Heading color"
    },
    {
      "type": "color",
      "id": "product_description_color",
      "label": "Description color",
      "default": "#000000",
      "info": "This is for the description"
    },
    {
      "type": "header",
      "content": "Heading and body color for left and right"
    },
    {
      "type": "color",
      "id": "product_description_heading_left_right_color",
      "label": "Heading block color",
      "default": "#000000",
      "info": "This is the heading color for left and right"
    },
    {
      "type": "color",
      "id": "product_description_body_left_right_color",
      "label": "Body block color",
      "default": "#000000",
      "info": "This is the body color for left and right"
    },
    {
      "type": "header",
      "content": "footer and link color"
    },
    {
      "type": "color",
      "id": "product_description_footer_text_color",
      "label": "Footer text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "product_description_footer_link_color",
      "label": "Footer link color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "name": "Intro",
      "type": "intro",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "product_description_intro",
          "label": "Intro",
          "default": "Our Key Points",
          "info": "section intro",
          "placeholder": "Our Key Points"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "product_description_title",
          "label": "Heading H2",
          "default": "Superior design",
          "info": "Heading",
          "placeholder": "Superior design"
        },
        {
          "type": "text",
          "id": "product_description_title_two",
          "label": "Heading H2 two",
          "default": "drop lasting quality",
          "info": "Heading",
          "placeholder": "drop lasting quality"
        }
      ]
    },
    {
      "name": "Description",
      "type": "description",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "product_description_body_description",
          "label": "Product Description",
          "default": "Crafted with superior design, engineered with precision, and built to commitment to excellence ensures every detail in meticulously perfected, delivering unparalleled quality and durability."
        }
      ]
    },
    {
      "name": "Left Description",
      "type": "product_description_left",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "product_description_title_left_one",
          "label": "heading One",
          "default": "Preserves Purity",
          "info": "Left title",
          "placeholder": "Preserves Purity"
        },
        {
          "type": "textarea",
          "id": "product_description_desc_left_one",
          "label": "Body One",
          "default": "Ensures natural essence, free and from toxins, additives",
          "info": "Left body",
          "placeholder": "Ensures natural essence, free and from toxins, additives"
        },
        {
          "type": "text",
          "id": "product_description_title_left_two",
          "label": "heading Two",
          "default": "Preserves Purity",
          "info": "Left title",
          "placeholder": "Preserves Purity"
        },
        {
          "type": "textarea",
          "id": "product_description_desc_left_two",
          "label": "Body Two",
          "default": "Ensures natural essence, free and from toxins, additives",
          "info": "Left body",
          "placeholder": "Ensures natural essence, free and from toxins, additives"
        },
        {
          "type": "text",
          "id": "product_description_title_left_three",
          "label": "heading Three",
          "default": "Preserves Purity",
          "info": "Left title",
          "placeholder": "Preserves Purity"
        },
        {
          "type": "textarea",
          "id": "product_description_desc_left_three",
          "label": "Body Three",
          "default": "Ensures natural essence, free and from toxins, additives",
          "info": "Left body",
          "placeholder": "Ensures natural essence, free and from toxins, additives"
        }
      ]
    },
    {
      "name": "Image",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "product_description_image",
          "label": "Image"
        }
      ]
    },
    {
      "name": "Right Description",
      "type": "product_description_right",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "product_description_title_right_one",
          "label": "heading One",
          "default": "Preserves Purity",
          "info": "Right title",
          "placeholder": "Preserves Purity"
        },
        {
          "type": "textarea",
          "id": "product_description_desc_right_one",
          "label": "Body One",
          "default": "Ensures natural essence, free and from toxins, additives",
          "info": "Right body",
          "placeholder": "Ensures natural essence, free and from toxins, additives"
        },
        {
          "type": "text",
          "id": "product_description_title_right_two",
          "label": "heading Two",
          "default": "Preserves Purity",
          "info": "Right title",
          "placeholder": "Preserves Purity"
        },
        {
          "type": "textarea",
          "id": "product_description_desc_right_two",
          "label": "Body Two",
          "default": "Ensures natural essence, free and from toxins, additives",
          "info": "Right body",
          "placeholder": "Ensures natural essence, free and from toxins, additives"
        },

        {
          "type": "text",
          "id": "product_description_title_right_three",
          "label": "heading Three",
          "default": "Preserves Purity",
          "info": "Right title",
          "placeholder": "Preserves Purity"
        },
        {
          "type": "textarea",
          "id": "product_description_desc_right_three",
          "label": "Body Three",
          "default": "Ensures natural essence, free and from toxins, additives",
          "info": "Right body",
          "placeholder": "Ensures natural essence, free and from toxins, additives"
        }
      ]
    },
    {
      "name": "Footer",
      "type": "footer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "product_description_footer_textOne",
          "label": "Text One footer",
          "default": "Let's make something great work together."
        },
        {
          "type": "text",
          "id": "product_description_footer_textTwo",
          "label": "Text Two footer",
          "default": "Get Free Quote"
        },
        {
          "type": "url",
          "id": "product_description_footer_link",
          "label": "Text two URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product description",
      "settings": {
        "product_description_paddingY": 36,
        "product_description_background_color": "#f9f6f2",
        "product_description_info_color": "#000000",
        "product_description_heading_color_one": "#000000",
        "product_description_heading_color_two": "#000000",
        "product_description_color": "#000000",
        "product_description_heading_left_right_color": "#000000",
        "product_description_body_left_right_color": "#000000"
      },
      "blocks": [
        {
          "type": "intro",
          "settings": {
            "product_description_intro": "Our Key Points"
          }
        },
        {
          "type": "heading",
          "settings": {
            "product_description_title": "Superior design",
            "product_description_title_two": "drop lasting quality"
          }
        },
        {
          "type": "description",
          "settings": {
            "product_description_body_description": "Crafted with superior design, engineered with precision, and built to commitment to excellence ensures every detail is meticulously perfected, delivering unparalleled quality and durability."
          }
        },
        {
          "type": "product_description_left",
          "settings": {
            "product_description_title_left_one": "Preserves Purity",
            "product_description_desc_left_one": "Ensures natural essence, free and from toxins, additives",
            "product_description_title_left_two": "Preserves Purity",
            "product_description_desc_left_two": "Ensures natural essence, free and from toxins, additives",
            "product_description_title_left_three": "Preserves Purity",
            "product_description_desc_left_three": "Ensures natural essence, free and from toxins, additives"
          }
        },
        {
          "type": "image"
        },
        {
          "type": "product_description_right",
          "settings": {
            "product_description_title_right_one": "Preserves Purity",
            "product_description_desc_right_one": "Ensures natural essence, free and from toxins, additives",
            "product_description_title_right_two": "Preserves Purity",
            "product_description_desc_right_two": "Ensures natural essence, free and from toxins, additives",
            "product_description_title_right_three": "Preserves Purity",
            "product_description_desc_right_three": "Ensures natural essence, free and from toxins, additives"
          }
        },
        {
          "type": "footer",
          "settings": {
            "product_description_footer_textOne": "Let's make something great work together.",
            "product_description_footer_textTwo": "Get Free Quote"
          }
        }
      ]
    }
  ]
}
{% endschema %}
