<section class="benefits">
  <div class="benefits__container">
    <div class="benefits__wrapper">
      {%- assign icons = 'icon-24.svg, icon-delivery.svg, icon-customer-service.svg, icon-gift.svg, icon-package.svg'
        | split: ','
      -%}
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'benefits' -%}
              <div class="benefits__item">
                {{ icons[forloop.index0] | strip | inline_asset_content }}
                <div>
                  <h4>
                    {%- if block.settings.benefits_title != blank -%}
                      {{- block.settings.benefits_title -}}
                    {%- else -%}
                      Quick delivery
                    {%- endif -%}
                  </h4>
                  <p>
                    {%- if block.settings.benefits_description != blank -%}
                      {{- block.settings.benefits_description -}}
                    {%- else -%}
                      Quick delivery
                    {%- endif -%}
                  </p>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      {%- else -%}
        {%- for icon in icons -%}
          <div class="benefits__item">
            {{ icon | inline_asset_content }}
            <div>
              <h4>Rychlé doručení</h4>
              <p>následující pracovní den</p>
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</section>

<style>
  .benefits {
    width: 100%;
    height: fit-content;
    background-color: {{ section.settings.benefits_background_color }};
    color: {{ section.settings.benefits_text_color }};
  }

  .benefits__container {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .benefits__wrapper {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .benefits__wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .benefits__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 1 18%;
    width: 280px;
    flex: 0 0 auto;
    min-width: 200px;
    scroll-snap-align: start;
  }

  .benefits__icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }

  .benefits__item h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: {{ section.settings.benefits_text_color }};
  }

  .benefits__item p {
    margin: 0;
    font-size: 14px;
    color: {{ section.settings.benefits_text_color }};

  }

  @media screen and (min-width: 750px) {
    .benefits__wrapper {
      overflow-x: auto;
      flex-wrap: nowrap;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
    }

    .benefits__wrapper::-webkit-scrollbar {
      display: none;
    }

    .benefits__item {
      flex: 0 0 auto;
      min-width: 200px;
      scroll-snap-align: start;
    }
  }
  @media screen and (min-width: 1200px) {
    .benefits__wrapper {
      overflow-x: auto;
      flex-wrap: nowrap;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      justify-content: space-between;
    }
  }
</style>

{% schema %}
{
  "name": "Benefits",
  "class": "prove",
  "settings": [
    {
      "type": "color",
      "id": "benefits_background_color",
      "label": "Background color",
      "default": "#000000",
      "info": "Background color"
    },
    {
      "type": "color",
      "id": "benefits_text_color",
      "label": "Text color",
      "default": "#ffffff",
      "info": "Text color"
    }
  ],
  "blocks": [
    {
      "name": "Benefits",
      "type": "benefits",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "benefits_title",
          "label": "Title",
          "default": "Quick delivery",
          "info": "Benefits title",
          "placeholder": "Quick delivery"
        },
        {
          "type": "textarea",
          "id": "benefits_description",
          "label": "Description",
          "default": "Free delivery",
          "info": "Benefits description",
          "placeholder": "Free delivery"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Benefits",
      "settings": {
        "benefits_background_color": "#000000",
        "benefits_text_color": "#ffffff"
      },
      "blocks": [
        {
          "type": "benefits"
        }
      ]
    }
  ]
}
{% endschema %}
